body {
    background-color: rgb(15, 23, 42);
    color: #ffffff;
  }
  
  header {
    color: #ffffff;
  }
  
  header h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  header p {
    font-size: 1rem;
    width: 45%;;
  }
  
  header form {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .movie-card {
    background-color: #1f1f1f;
    border: none;
    position: relative;
  }

  .image-container {
    position: relative;
  }

  .star-icon {
    position: absolute;
    top: 18px;
    left: 24px;
    background: rgba(0, 0, 0, 0.9);
    padding: 2px 11px;
    border-radius: 4px;
    font-size: 14px;
    color: orange;
  }
  
  .movie-card img {
    width: 100%;
    height: auto;
    padding: 7px
  }
  
  .movie-card .card-title {
    color: #ffffff;
    font-size: 1.2rem;
  }


.card-title {
  height: 3rem; 
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.custom-width {
  width: 25%;
}

.search-bar {
  background-color: #2c3e50;
  border: none;
  color: white;
  padding-left: 35px;
}

.search-container {
  position: relative;
  max-width: 310px;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: gray;
}



.nav-btn {
  background-color: #2c3e50;
  border: none;
  color: white;
  margin: 0 5px;
}

.nav-btn.active {
  background-color: #6c5ce7;
  color: white;
  padding: 6px 20px;
  margin: 0px 2px;
}

.nav-btn-group {
  background-color: #2c3e50;
  border-radius: 5px;
  display: inline-flex;
}